 core:
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
      "*.pyc"
      "*.pyo"
    ]
    themes: [
      "atom-dark-ui"
      "one-dark-syntax"
    ]
  editor:
    showIndentGuide: true
    tabLength: 4
    softWrap: true
      {}
  "fuzzy-finder":
    ignoredNames: [
      "*.pyc"
      "*.pyo"
    ]
